.prop-section-first-item {
}
.prop-section-second-item {
}

.prop-section-second-item img {
  max-width: 500px;
}

.prop-title {
  margin: 0;
  margin-bottom: 1rem;
}

.prop-title-hidden {
  visibility: hidden;
  border: 1px solid black;
  margin: 0;
  margin-bottom: 1rem;
}
