.section-intro-first-item {
  text-shadow: var(--text-shadow-md);
}

.section-intro-second-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-intro-second-item svg {
  width: 15rem;
  height: 15rem;
  will-change: filter;
  transition: filter 300ms;
  animation: spin 20s linear infinite;
}

.section-intro-second-item svg {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.section-intro-second-item:hover svg {
  filter: drop-shadow(0 0 0.2em #586265aa);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
